* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #f5f5f5;
}

.header {
    background-color: #fee600;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    height: 110px;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    height: 50px;
}

.search-input::placeholder {
    font-weight: 600;
}

#botaoBuscar {
    background: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    height: 50px;
}

#botaoBuscar:hover {
    background-color: #f0f0f0;
} 

.main {
    padding: 20px 0;
}

.section-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.products-Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.product-card:hover {
    transform: translateY(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-title {
    font-size: 20px;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.product-price {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.product-discount {
    font-size: 14px;
    color: #027900;
    font-weight: bold;
}

.hero {

    background-image: url(https://http2.mlstatic.com/D_NQ_638776-MLA100369475510_122025-OO.wp);
    height: 450px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
}

.rodape {
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #fde600;
}

.rodape p {
    color: #777;
    font-size: 14px;
}